<h2>Reset Password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p>Please enter your email address. <br />

    You will receive additional directions to reset your password via email.</p>

  <p><%= f.label :email %>
  <%= f.email_field :email %></p>

  <p><%= f.submit "Send me reset password instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
