<% content_for :mosaic do %>
<% @document_list.each do |document| %>
<div  class="thumbnail">
  <%= link_to_document document, :label=>image_sprite(@sprite, document) %>
</div>
<% end %>
<% end %>

<div id="collections">
  <%= link_to 'See all >', collections_path, :class => 'see_all' %>
  <div class="pagination">
  </div>
  <h2>Explore the collections</h2>
  
  <%  collections_list.select { |x| x.get("dc_type_s") == "Collection" }.each do |c| %>
    <div class="document">
      <%= link_to_document c, :label => image_tag(c.thumbnail.url(:style => :feature), :alt => c.get(:title_display)).html_safe %>
    <h3><%= link_to_document c %></h3>
     <%= c.get('dc_description_t') %>
   </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
      var collections_timer = null;

      $('#collections .document').hide().first().show();
      $('#collections .document').each(function(i) {

        $('<a class="page" href="#collections">' + i + '</a>').bind('click', function() { 
          $('#collections .document').hide().eq(i).show();
          $('.page.active', '#collections').removeClass('active');
          $(this).addClass('active');
        startCollectionsTimer();
          }).appendTo($('#collections .pagination'));
      }); 
      $('#collections .pagination .page').first().addClass('active');

      $('<a href="#collections" class="pause">||</a>').bind('click', function() {
          window.clearTimeout(collections_timer);
          $('#collections').addClass('paused');
          $(this).hide();
          $('.play', '#collections').show();
          return false;
        }).prependTo($('#collections .pagination'));

      $('<a href="#collections" class="play">&gt;</a>').bind('click', function() {
          $('#collections').removeClass('paused');
          startCollectionsTimer();
          $(this).hide();
          $('.pause', '#collections').show();
          return false;
        }).hide().prependTo($('#collections .pagination'));

      startCollectionsTimer = function() {
          window.clearTimeout(collections_timer);
      collections_timer = window.setTimeout(function() { 
        var next = $('.page.active', '#collections .pagination').next();
        if(next.length == 0) {
          next = $('.page', '#collections .pagination').first(); 
        }
        next.click();

        
      }, 10000);
    };

      $('#collections').bind('mouseenter', function() {
          window.clearTimeout(collections_timer);
          });

      $('#collections').bind('mouseleave', function() {
        if($(this).is('.paused')) {
           return;
        }
        startCollectionsTimer();
      });

      startCollectionsTimer();



      });  
</script>

<div id="blog">
  <%= link_to 'See all >', blog_path, :class => 'see_all' %>
  <h2>From the blog</h2>
  <% Wordpress.get_recent_posts(:count => 3).each do |post| %>
    <div class="post">
      <div class="byline">
        <div class="thumbnail">
          <%= image_tag post.thumbnail, :alt => '' if post.thumbnail %>
        </div>
        <div class="author">By <%= post.author_name %></div>
        <div class="date"><%= post.date %></div>
    </div>
    <div class="body">
    <h3><%= link_to post.title.html_safe, post.url %></h3>
    <div><%= post.excerpt.html_safe %></div>
  </div>
  </div>
    <% end %>
</div>


<%= link_to image_tag('support_btn.jpg', :alt => "Support WGBH", :style => "float: right;"), "http://www.wgbh.org/donatetowgbh?utm_source=openvault&utm_medium=web&utm_campaign=button" %> 

