<% @page_title = "#{document_show_html_title} - #{application_name}" %>
<% extra_head_content << render_link_rel_alternates %>

<%# this should be in a partial -%>
<div id="document" class="<%= render_document_class %>">
  <div id="doc_<%= @document[:id] %>">
  
    <%= render_document_heading %>
  <% ['dc_description_t'].each do |solr_fname| -%>
    <% if @document.has? solr_fname %>
      <div class="blacklight-<%= solr_fname.parameterize %>" >
	    <div class="label"><%= render_document_show_field_label :field => solr_fname %></div>
            <div class="value"><%= render_document_show_field_value :document => @document, :field => solr_fname %></div>
          </div>
    <% end -%>
  <% end -%> <br />
    <div class="citation">
    <%= @document.export_as_chicago_citation_txt %><br />
    <%= link_to catalog_url, catalog_url %>
  </div>
    <div class="document">
      <div class="media">
        <%= render_document_partial @document, :print %>
      </div>
    </div>
  </div>
</div>

