<% @page_title = "#{document_show_html_title} - #{application_name}" %>
<% extra_head_content << render_link_rel_alternates %>
<% sidebar_items << render(:partial => 'related_content') %>

<%# this should be in a partial -%>
<div id="document" class="<%= render_document_class %>">
  <div id="doc_<%= @document[:id] %>">
  
      <% # bookmark/folder functions -%>
      <%= render_show_doc_actions @document %>
        

    <%= render_document_heading %>
    <div class="document">
      <div class="media">
        <%= render_document_partial @document, :print %>
      </div>
    </div>
  </div>
</div>

