<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title><%= h(@page_title || application_name) %></title>
    <link href="<%= opensearch_catalog_url(:format => 'xml') %>" title="<%= application_name%>" type="application/opensearchdescription+xml" rel="search"/>
    
    <%= render_head_content %>
    
    
  </head>
  <% if params[:q].to_s.empty? and params[:f].to_s.empty? and params[:id].nil? %>
    <body onload="$('input#q').focus();" class="<%= render_body_class %>">
  <% else %>
    <body class="<%= render_body_class %>">
  <% end %>
	  <div class="container">
	    
	    <div id="hd">
        <div >
          <div class="first site_title_container">
            <h1 class="site_title"><%= link_to 'open Vault', root_path %></h1>
            <div class="subtitle">WGBH Media Library and Archives</div>
          </div>
          <div class="user_util_links">
            <%= render :partial=>'/user_util_links' %>
          </div>
        </div>

      </div>
	    
	    <div id="bd">
      	<div id="main">
        <%= render :partial => 'catalog/search_form' %>
          <div id="content">
            <%= render :partial=>'/flash_msg' %>
            <%= yield %>
          </div>
        </div>
        
        <div id="sidebar" class="sidebar"><%= sidebar_items.join('').html_safe %></div>
        
	    </div>
	    
            <div id="ft">
              <%= render :partial => 'layouts/footer.html.erb' %>
            </div>
	    
	  </div>
          <%= render_google_analytics_code %>
  </body>
  
</html>
